body
{
	background-color:#242428;
}

*
{
	border-color: #3E3E45;
}


.TextS1
{
	color:#efeff0;
}

.ZScrol::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: #939594;
}

.ZScrol::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #161817;
}




/*----Left Menu Button----*/
#LogoutBtn:hover
{
	background: #243E30;
	color: #efeff0;
}

.BtnItem
{
	color:#B3B3B5;
}

.BtnItem:hover
{
	color: #efeff0;
	background-color: #243E30;
}

.BtnItem:hover .LeftIcon
{
	filter: brightness(300%);
}

.BtnItemSelected
{
	color: #efeff0;
	background-color: #243E30;
}

.BtnItemSelected .LeftIcon
{
	filter: brightness(300%);
}

/*-----Right Top MenuBtn-----*/
.MenuItem:hover
{
	border-color: #4CAA50;
	background-color: #243E30;
}

#RecentClearAllBtn:hover
{
	color: #000;
}

#recnet_context_menu
{
	color: #efeff0;
	background-color:#242428;
	border: 0px;
	box-shadow: 0px 0px 3px #DCDCDC;
}

/*----User Manual------*/
.UG_DESC
{
	color:#818183;
}