body
{
	background-color:#242428;
}

*
{
	border-color: #3E3E45;
}


.TextS1
{
	color:#fff;
}




/*----Left Menu Button----*/
#LogoutBtn:hover
{
	background: #243E30;
	color: #fff;
}

.BtnItem
{
	color:#B3B3B5;
}

.BtnItem:hover
{
	color: #fff;
	background-color: #243E30;
}

.BtnItemSelected
{
	color: #fff;
	background-color: #243E30;
}

/*-----Right Top MenuBtn-----*/
.MenuItem:hover
{
	border-color: #4CAA50;
	background-color: #243E30;
}

/*----User Manual------*/
.UG_DESC
{
	color:#818183;
}