*
{
	padding: 0;
	border: 0;
	margin: 0;		
    font-family: "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
	user-select: none;
}

html
{
	height:100%;
	background-color: #626262;
}

body
{
	height:100%;
	max-height: 660px;
	max-width: 820px;
	padding: 0;
	border: 0;
	margin: 0;	
	overflow: hidden;
	background-color: #fff;
	font-size: 14px;
	line-height: 22px;
}

.TextPoint
{
	font-size:1px;
}

.ZScrol::-webkit-scrollbar {/*滚动条整体样式*/
    width: 12px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 12px;
	padding: 2px;
}

.ZScrol::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: #AAAAAA;
}

.ZScrol::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}

/*----Three Part----*/
body
{
	display:flex;
	flex-direction: column;
}


#Title
{
	height: 12%;
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	color: #009688;
	padding: 0px 10mm;
}


#Content
{
	height: 76%;
	padding: 20px 40px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #464646;
	position: relative;
	display:flex;
	flex-direction: column;		
}

#Content div
{

}


#AcceptArea
{
	height:var(--dialog-button-sizer-height); /*----ORCA Use fixed size to prevent position change----*/
	max-height:var(--dialog-button-sizer-height);
	min-height:var(--dialog-button-sizer-height);
	padding: 0 var(--dialog-button-gap);
	text-align: left;
	display: flex;
	justify-content:flex-end;
	align-items: center;	
}

/*---HyperLink---*/
.HyperLink
{
	color: #009688;
	text-decoration: underline;
    font-weight: 700;
	cursor: pointer;
}

/*---Checkboxes ORCA ---*/
label:has(input[type="checkbox"]){
	margin:0;
	padding: 0;
	margin-right: 20px;
}

label:has(input[type="checkbox"])>span{
	vertical-align: middle;
	margin:0;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color:#FFFFFF;
	margin:0;
	margin-right: 6px;
	width: 1em;
	height: 1em;
	border: 0.1em solid #DBDBDB;
	border-radius: 0.15em;
	display: inline-flex;
	place-content: center;
	background-color:#FFFFFF;
}

input[type="checkbox"]::before {
	content: "";
	width: 0.8em;
	height: 0.8em;
	transform: scale(0);
	box-shadow: inset 1em 1em #FFFFFF;
	clip-path: polygon(7% 37%, 0 45%, 33% 78%, 100% 30%, 95% 21%, 33% 64%);
}

input[type="checkbox"]:checked {
	border-color:#009688;
	background-color:#009688;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/*----------------Light Mode-------------------*/





