*
{
	padding: 0;
	border: 0;
	margin: 0;		
    font-family: "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
	user-select: none;
}

html
{
	height:100%;
	background-color: #626262;
}

body
{
	height:100%;
	max-height: 660px;
	max-width: 820px;
	padding: 0;
	border: 0;
	margin: 0;	
	overflow: hidden;
	background-color: #fff;
	font-size: 14px;
	line-height: 22px;
}

.TextPoint
{
	font-size:1px;
}

.ZScrol::-webkit-scrollbar {/*滚动条整体样式*/
    width: 12px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 12px;
	padding: 2px;
}

.ZScrol::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: #AAAAAA;
}

.ZScrol::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}

/*----Three Part----*/
body
{
	display:flex;
	flex-direction: column;
}


#Title
{
	height: 12%;
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	color: #00AE42;
	padding: 0px 10mm;
}


#Content
{
	height: 76%;
	padding: 20px 40px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #464646;
	position: relative;
	display:flex;
	flex-direction: column;		
}

#Content div
{

}


#AcceptArea
{
	height:12%;
	padding: 0mm 10mm;
	text-align: left;
	display: flex;
	justify-content:flex-end;
	align-items: center;	
}


/*--Btn--*/
.NormalBtn
{
	padding: 3mm 9mm;
	font-size: 14px;
	text-align: center;
	background-color: #00AE42;
	border-radius: 16px;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
}

.NormalBtn:hover
{
	background-color:#009638;
}

.GrayBtn
{
	padding: 3mm 9mm;
	font-size: 14px;
	text-align: center;
	border: 1px solid #575757;
	border-radius: 18px;
	color: #575757;
	cursor: pointer;
	margin-left: 10px;	
}

.GrayBtn:hover
{
	background-color:#E8E8E8;
}

.SmallBtn
{
	padding: 2px 4mm;
	font-size: 14px;
	text-align: center;
	background-color: #D9D9D9;
	border-radius: 6px;
	color: #000;
	cursor: pointer;
	display: inline-block;
}

.SmallBtn:hover
{
	background-color: #CCCCCC;
}


.SmallBtn_Green
{
	padding: 2px 4mm;
	font-size: 14px;
	text-align: center;
	background-color: #00AE42;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}

.SmallBtn_Green:hover
{
	background-color: #009638;
}

/*---HyperLink---*/
.HyperLink
{
	color: #00AE42;
	text-decoration: underline;
    font-weight: 700;
	cursor: pointer;
}



/*----------------Light Mode-------------------*/





