*
{
	color: #efeff0;
	border-color: #B9B9BC;
}

body
{
	background-color:#2D2D31; /* ORCA match background color */
	color: #efeff0;
}

.ZScrol::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    background-color: #939594;
}

.ZScrol::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #161817;
}

#Title div
{
	color: #009688;
}

.search>input[type=text]{
	background-color:#2D2D31;
}

/*---Checkboxes ORCA---*/
input[type=checkbox]{
	background-color:#2D2D31;
	border-color:#4A4A51;
}

input[type=checkbox]:checked{
	background-color:#009688;
}

/*-------Text------*/

.TextS1
{

}

.TextS2
{
	color:#B9B9BC;
}

/*---Policy---*/
.TextArea1
{
	background-color: #4A4A51;
	color: #BEBEC0;
}

/*----Region---*/
.RegionItem:hover
{
	background-color:#4C4C55;
}

.RegionSelected:hover
{
	background-color:#009688;
	color: #fff;	
}

/*----Menu----*/
#Title div.TitleUnselected
{
	color: #BEBEC0;
}
