language: perl
install: true
script: perl ./Build.PL
perl:
  - "5.14"
  - "5.18"
  - "5.20"
branches:
  only:
    - master
    - stable
sudo: false
cache:
    - apt
addons:
  apt:
    sources:
    - boost-latest
    packages:
    - libboost-thread1.55-dev
    - libboost-system1.55-dev
