[Desktop Entry]
Name=Prusa GCode viewer
Name[de]=Prusa GCode Vorschau
Exec=prusa-slicer --gcodeviewer %F
Icon=com.prusa3d.PrusaSlicer.GCodeViewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
