[Desktop Entry]
Name=Bambu GCode viewer
Exec=Ginger-Slicer --gcodeviewer %F
Icon=GingerSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
