*
{
	padding:0px;
	border: 0px;
	margin: 0px;
	font-size: 14px;
}

html, body {
    height: 100%;
	width: 100%;
    margin: 0px;
    padding: 0px;
	line-height: 20px;
}

/*------------------*/
body
{
	display:flex;
	justify-content: center;
	align-items: center;
	max-height: 900px;
	max-width: 1300px;
	background-color: #fff;
}

#ErrorBlock
{
	display:flex;
	flex-direction: column;
	align-items: center;
}

#ErrorIcon
{
	width:100px;
}

#ErrorTip
{
	font-size: 18px;
	line-height: 50px;
}

#ErrorBtn
{
	width:100px;
	display: none;
}