#NoteText
{
	border:0px solid #787878;
	font-size: 14px;
	line-height: 22px;
	height: 90%;
	color: #535353;
	overflow-y: auto;
    overflow-x: hidden;	
	margin: 10mm 30mm;
}

#NoteText h
{
	font-size:22px;
	line-height: 32px;
}

#NoteText::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#NoteText::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: #AAAAAA;
}

#NoteText::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}





