on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      arch:
        required: false
        type: string
      build-deps-only:
        required: false
        type: boolean
      force-build:
        required: false
        type: boolean

jobs:
  build_deps:
    name: Build Deps
    runs-on: ${{ inputs.os }}
    env:
      date:
      DO_BUILD: ${{ inputs.build-deps-only || inputs.force-build }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: 'true'

      - name: load cached deps
        uses: actions/cache/restore@v4
        id: cache-load
        with:
          path: ${{ github.workspace }}/deps/build${{ inputs.os != 'macos-14' && '/OrcaSlicer_dep' || '' }}
          key: ${{ inputs.os }}-${{ inputs.arch }}-cache-orcaslicer_deps-build-${{ hashFiles('deps/**') }}
          restore-keys: ${{ inputs.os }}-${{ inputs.arch }}-cache-orcaslicer_deps-build

      - uses: lukka/get-cmake@latest
        if: ${{ !cancelled() && (env.DO_BUILD == 'true' || steps.cache-load.outputs.cache-hit == 'false') }}
        with:
          cmakeVersion: "~3.28.0"  # use most recent 3.28.x version

      - name: setup dev on Windows
        if: inputs.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v2

      - name: Get the date on Ubuntu and macOS
        if: inputs.os != 'windows-latest'
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_ENV
        shell: bash

      - name: Get the date on Windows
        if: inputs.os == 'windows-latest'
        run: echo "date=$(Get-Date -Format 'yyyyMMdd')" | Out-File -Append -FilePath $env:GITHUB_ENV -Encoding utf8
        shell: pwsh


      # Build Dependencies
      - name: Build on Windows
        if: inputs.os == 'windows-latest'
        working-directory: ${{ github.workspace }}
        run: |
            choco install strawberryperl
            .\build_release_vs.bat deps
            .\build_release_vs.bat pack
            cd ${{ github.workspace }}/deps/build

      - name: Build on Mac ${{ inputs.arch }}
        if: inputs.os == 'macos-14'
        working-directory: ${{ github.workspace }}
        run: |
            brew install automake texinfo libtool
            brew list
            brew uninstall --ignore-dependencies zstd
            ./build_release_macos.sh -dx -a universal -t 10.15 -1
            for arch in arm64 x86_64; do
                (cd "${{ github.workspace }}/deps/build/${arch}" && \
                find . -mindepth 1 -maxdepth 1 ! -name 'OrcaSlicer_dep' -exec rm -rf {} +)
            done
            brew install zstd


      - name: Apt-Install Dependencies
        if: inputs.os == 'ubuntu-24.04'
        uses: ./.github/actions/apt-install-deps

      - name: Build on Ubuntu
        if: inputs.os == 'ubuntu-20.04' || inputs.os == 'ubuntu-24.04'
        working-directory: ${{ github.workspace }}
        run: |
            mkdir -p ${{ github.workspace }}/deps/build/destdir
            ./build_linux.sh -dr
            cd deps/build
            tar -czvf OrcaSlicer_dep_ubuntu_$(date +"%Y%m%d").tar.gz destdir

      - name: Upload ${{inputs.os}} ${{ inputs.arch }} artifacts
        if: ${{ ! env.ACT }}
        uses: actions/upload-artifact@v5
        with:
          name: OrcaSlicer_dep_${{inputs.os}}_${{ inputs.arch }}
          path: ${{ github.workspace }}/deps/build/OrcaSlicer_dep*.{tar.gz,zip}
          if-no-files-found: error

  build_orca:
    name: Build OrcaSlicer
    needs: [build_deps]
    if: ${{ !cancelled() && (!inputs.build-deps-only || inputs.force-build) && success() }}
    uses: ./.github/workflows/build_orca.yml
    with:
      artifact-name: ${{ upload-artifact.name }}
      os: ${{ inputs.os }}
      arch: ${{ inputs.arch }}
    secrets: inherit
