name: Check profiles
on: 
    pull_request:
      branches: 
       - main 
      paths:
       - 'resources/profiles/**'
       - ".github/workflows/check_profiles.yml"

jobs:
  check_translation:
    name: Check profiles
    runs-on: ubuntu-22.04
    steps:  
      - name: Checkout repository
        uses: actions/checkout@v4

      # download
      - name: Download 
        working-directory: ${{ github.workspace }}
        run: |
          curl -LJO https://github.com/SoftFever/Orca_tools/releases/download/1/OrcaSlicer_profile_validator
          chmod +x ./OrcaSlicer_profile_validator

      # validate profiles
      - name: validate system profiles
        run: |
          ./OrcaSlicer_profile_validator -p ${{ github.workspace }}/resources/profiles -l 2

      - name: validate custom presets
        working-directory: ${{ github.workspace }}
        run: |
          curl -LJO https://github.com/SoftFever/OrcaSlicer/releases/download/nightly-builds/orca_custom_preset_tests.zip
          unzip ./orca_custom_preset_tests.zip -d ${{ github.workspace }}/resources/profiles
          ./OrcaSlicer_profile_validator -p ${{ github.workspace }}/resources/profiles -l 2



        
